.icon-btn{
    width: 58px;
    height: 58px;
    border-radius: 16px;
    border: none;
    background:#A7F5D8;
    color:#0F5947;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:26px;
    text-decoration:none;
    transition:.2s;
}

/* Membuat nav berada di tengah */
.calc-nav-wrapper{
    width: 100%;
    display: flex;
    justify-content: center; /* center horizontal */
    margin-top: 8px;         /* jarak kecil dari atas */
    margin-bottom: 22px;     /* jarak ke section bawah */
}

/* Grup tombol tetap kotak seperti sebelumnya */
.icon-nav{
    display: flex;
    gap: 10px;
}

.icon-btn.active{
    background:#0F5947;
    color:#fff;
}
