.contact-hero {
    width: 100%;
    height: 100vh;
    background-image: url("/images/contactus.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Center container */
.contact-hero-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Overlay box hanya di tengah */
.contact-title-box {
    padding: 60px 90px;
    border-radius: 30px;

    background: linear-gradient(
        90deg,
        rgba(6, 78, 59, 0.85),
        rgba(150, 251, 218, 0.6)
    );

    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);

    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25);
}

/* Text */
.contact-title-box h1 {
    font-family: "Baloo Paaji 2", cursive;
    font-size: 2.25rem;
    font-weight: 700;
    color: #b7f7dc;
    margin: 0;
    letter-spacing: 1px;
}

/* Responsive */
@media (max-width: 768px) {
    .contact-title-box {
        padding: 18px 40px;
    }

    .contact-title-box h1 {
        font-size: 40px;
    }
}

.contact-divider {
    height: 10rem;
    background-color: #064e3b; /* olive green */
}

/* SECTION */
.contact-form-section {
    background-color: #f3fbff;
    padding: 120px 24px;
}

/* CONTAINER */
.contact-form-container {
    max-width: 1100px;
    margin: 0 auto;
}

/* TITLE */
.contact-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #064e3b;
    margin-bottom: 80px;
}

.contact-title span {
    color: #2fe6a8;
}

/* FORM */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

/* GROUP */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* LABEL */
.form-group label {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.form-group label span {
    color: #064e3b;
}

/* INPUT & TEXTAREA */
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 18px 22px;
    font-size: 16px;
    border-radius: 999px;
    border: 1.5px solid #064e3b;
    outline: none;
    transition: all 0.25s ease;
    background-color: #fff;
}

.form-group textarea {
    border-radius: 28px;
    resize: none;
}

/* FOCUS */
.form-group input:focus,
.form-group textarea:focus {
    border-color: #2fe6a8;
    box-shadow: 0 0 0 3px rgba(47, 230, 168, 0.2);
}

/* BUTTON */
.contact-submit {
    margin-top: 32px;
    align-self: center;
    padding: 18px 48px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #064e3b;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-submit:hover {
    background-color: #043f31;
    transform: translateY(-2px);
}
