.footer-section {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-wrapper {
    background: #ffffff;
    border-radius: 28px;
}
/* Hover effect untuk sub-menu */
.list-unstyled a:hover {
    color: #198754 !important;
    text-decoration: underline !important;
}

/* Spacing untuk menu utama */
.list-unstyled {
    margin-top: 0.5rem;
    line-height: 1.8;
}