.header-wrapper {
    margin-top: 20px; /* JARAK DARI ATAS */
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.custom-navbar {
    background: linear-gradient(to right, #00d26a, rgb(0, 78, 146, 0.5));
    backdrop-filter: blur(8px);
    height: 64px;
    width: 90%; /* TIDAK FULL */
    max-width: 1200px; /* TENGAH */
    border-radius: 0px 30px 0 30px;
    padding: 10px 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}
.navbar-brand {
    position: relative;
}

.navbar-brand img {
    padding-top: 5px;
    height: 150px; /* BESARKAN LOGO */
    width: auto;
    transform: scale(1.2); /* SCALE TANPA TAMBAH TINGGI */
    transform-origin: left center;
}

.custom-navbar .nav-link {
    color: #e0f6ec !important;
    font-weight: 500;
}

.custom-navbar .nav-link.active,
.custom-navbar .nav-link:hover {
    color: #ffffff !important;
}

.custom-navbar .navbar-brand span {
    font-size: 1.1rem;
    color: #ffffff;
}
