.header-wrapper {
    margin-top: 35px; /* JARAK DARI ATAS */
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.custom-navbar {
    background: linear-gradient(to right, #00d26a, rgb(0, 78, 146, 0.5));
    height: 82px;
    width: 80%; /* TIDAK FULL */
    max-width: 1200px; /* TENGAH */
    border-radius: 0px 35px 0 35px;
    padding: 10px 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}
.navbar-brand {
    position: relative;
}

.navbar-brand img {
    padding-top: 5px;
    height: 200px; /* BESARKAN LOGO */
    width: auto;
    transform: scale(1.2); /* SCALE TANPA TAMBAH TINGGI */
    transform-origin: left center;
}

.nav-item {
    font-size: 25px;
}

.custom-navbar .nav-link {
    color: #e0f6ec !important;
    font-weight: 500;
}

.custom-navbar .nav-link.active,
.custom-navbar .nav-link:hover {
    color: #ffffff !important;
}

.custom-navbar .navbar-brand span {
    font-size: 1.1rem;
    color: #ffffff;
}

.btn-navbar {
    padding: 11px 18px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 50px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease;
    line-height: 1;
}

.btn-signup {
    color: #eafff1;
    background: rgb(6, 78, 59, 0.8);
}

.btn-signup:hover {
    background: rgba(255, 255, 255, 0.25);
    color: #ffffff;
}

.btn-contact {
    color: #064e3b;
    background: #96fbda;
    border: none;
}

.btn-contact:hover {
    background: linear-gradient(135deg, #4dff7a, #2ddf73);
    color: #0f5132;
}
