body {
    margin: 0;
    padding: 0;
    font-family: "Arima", sans-serif !important;
    background-color: #ffffff;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.hero-section {
    background: url("/images/home.png") center center / cover no-repeat;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
    overflow: hidden;
}

.hero-content {
    min-height: 100vh;
    padding-top: 200px; /* jarak dari header */
    padding-bottom: 30px;
}

.hero-inner {
    max-width: 900px; /* TIDAK FULL */
}

.hero-title {
    font-size: 35px;
    font-weight: 700;
    color: #00e676;
    margin-bottom: 15px;
}
.text-highlight {
    color: #26e0a6; /* warna berbeda */
}

.hero-subtitle {
    color: #e5fbe5;
    padding-top: 20px;
    font-size: 20px;
    margin-bottom: 25px;
}

.hero-quote {
    background: rgba(220, 255, 240, 0.9);
    font-family: "Arima", sans-serif !important;
    border-radius: 40px;
    padding-top: 30px;
    padding: 25px 30px;
    max-width: 820px;
}

.hero-quote p {
    color: #155f3a;
    font-size: 20px;
    margin-bottom: 10px;
}

.hero-quote small {
    color: #1b7a4f;
    font-weight: 500;
}

.btn-green {
    background: linear-gradient(135deg, #2ddf73, #19b35a);
    color: #ffffff;
    padding: 12px 28px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 0.95rem;
    text-decoration: none;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 20px rgba(45, 223, 115, 0.4);
    transition: all 0.3s ease;
}

.btn-green:hover {
    background: linear-gradient(135deg, #35f584, #1ccf69);
    transform: translateY(-2px);
    box-shadow: 0 10px 28px rgba(45, 223, 115, 0.55);
    color: #ffffff;
}

.btn-outline-green {
    background: linear-gradient(180deg, rgb(0, 207, 181, 0.8), rgb(150, 251, 218, 0.8));
    color: #d7ffe8;
    padding: 12px 28px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 0.95rem;
    text-decoration: none;
    border: 2px solid #0D9488;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.btn-outline-green:hover {
    background: rgba(45, 223, 115, 0.15);
    border-color: #2ddf73;
    color: #ffffff;
    transform: translateY(-2px);
}
