body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif !important;
    background-color: #ffffff;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.hero-section {
    background: url("/images/home.png") center center / cover no-repeat;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
    overflow: hidden;
}

.hero-content {
    min-height: 100vh;
    padding-top: 100px; /* jarak dari header */
    padding-bottom: 80px;
}

.hero-inner {
    max-width: 900px; /* TIDAK FULL */
}

.hero-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #00e676;
    margin-bottom: 15px;
}
.text-highlight {
    color: #26e0a6; /* warna berbeda */
}

.hero-subtitle {
    color: #e5fbe5;
    font-size: 1rem;
    margin-bottom: 25px;
}

.hero-quote {
    background: rgba(220, 255, 240, 0.9);
    border-radius: 18px;
    padding: 25px 30px;
    max-width: 700px;
}

.hero-quote p {
    color: #155f3a;
    font-size: 0.95rem;
    margin-bottom: 10px;
}

.hero-quote small {
    color: #1b7a4f;
    font-weight: 500;
}
