
.mangrove-hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('/images/mangrovehero.jpeg'); /* ganti sesuai path gambarmu */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    overflow: hidden;
}

/* Panel hijau di belakang text */
.mangrove-panel {
    background: rgba(6, 78, 59, 0.65); /* hijau transparan */
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(6px);

    padding: 33px 35px;
    border-radius: 24px;
    max-width: 1000px;   
    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.25),
        inset 0 0 0 1px rgba(255, 255, 255, 0.08);
}


/* Konten tengah */
.mangrove-content {
    position: relative;
    z-index: 2;
    max-width: 1000px;
    padding: 0 25px;
}

/* Judul utama */
.mangrove-title {
    font-size: 2.25rem;
    font-weight: 800;
    color: #b7f7dc; /* hijau muda seperti screenshot */
    margin-bottom: 60px;
    line-height: 1.3;
    font-family: 'Baloo Paaji 2', cursive;
}

/* Subtitle */
.mangrove-subtitle {
    font-size: 1.5rem;
    color: #ffffff;
    opacity: 0.9;
    line-height: 1.7;
    margin-bottom: 70px;
}

/* ===== Responsive ===== */

@media (max-width: 768px) {
    .mangrove-title {
        font-size: 2.2rem;
    }

    .mangrove-subtitle {
        font-size: 1.05rem;
    }
}

/* ===== Mangrove Shield Section ===== */

.mangrove-shield-section {
    background: #eef6fb; /* biru pucat seperti screenshot */
    padding: 55px 0;
}

.mangrove-shield-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;

    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 20px;
    align-items: center;
}

/* ===== TEXT ===== */

.mangrove-shield-text h2 {
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 1.4rem;
    font-weight: 900;
    color: #064E3B;
    margin-bottom: 28px;
}

.mangrove-shield-text p {
    font-size: 0.92rem;
    line-height: 1.9;
    color: #245b49;
    margin-bottom: 28px;
    text-align: justify;
    font-weight: 500;
}

/* ===== IMAGE PANEL ===== */

.mangrove-shield-gallery {
    background: #f8fcff;
    padding: 18px;
    border-radius: 28px;
    border: 1px solid rgba(0, 0, 0, 0.8);


    display: grid;
    grid-template-columns: 1.18fr 1.4fr;
    gap: 12px;
}

/* Large image (left) */
.gallery-large {
    grid-row: span 2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
    border-radius: 22px;
}

.gallery-large img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
}

/* Small images (right) */
.gallery-small {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.gallery-small img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
}

@media (max-width: 900px) {
    .mangrove-shield-container {
        grid-template-columns: 1fr;
        gap: 48px;
    }

    .mangrove-shield-section {
        padding: 80px 0;
    }
}

/* ===== WHY MANGROVES SECTION ===== */

.why-mangrove-section {
    background: #eef6fb;
    padding: 120px 0;
}

.why-mangrove-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

/* Title */
.why-title {
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 1.5rem;
    font-weight: 900;
    color: #0f5a3d;
    text-align: left;
    margin-bottom: 40px;
}

/* Grid */
.why-mangrove-grid {
    display: grid;
    grid-template-columns: 1.2fr 0.28fr;
    gap: 48px;
    align-items: start;
}

/* LEFT CARDS */
.why-cards {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.why-card {
    background: #96FBDA;
    padding: 13px 46px;
    border-radius: 40px;
}

.why-card h3 {
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 1.3rem;
    color: #0f5a3d;
    font-weight: 700;
    margin-bottom: 10px;
}

.why-card p {
    font-size: 0.97rem;
    line-height: 1.5;
    color: #155f47;
    max-width: 1000px;
}

/* FUN FACT */
.fun-fact-card {
    background: linear-gradient(
        180deg,
        rgba(6, 78, 59, 0.55),
        rgba(150, 251, 218, 1)
    );
    padding: 12px 15px;
    border-radius: 32px;
    margin-top: 38%;
}

.fun-fact-card h3 {
    margin-top: 8px;
    font-family: 'Arima', sans-serif;
    font-size: 1.6rem;
    margin-bottom: 7px;
    color: black;
    font-weight: 700;
    text-align: center;
}

.fun-fact-card h4 {
    font-size: 0.8rem;
    font-weight: 400;
    color: black;
    margin-bottom: 16px;
}

.fun-fact-card p {
    font-size: 0.65rem;
    line-height: 1.7;
    color: black;
}

@media (max-width: 900px) {
    .why-mangrove-grid {
        grid-template-columns: 1fr;
    }

    .why-title {
        font-size: 2rem;
        margin-bottom: 48px;
    }
}

.technology-tools {
    position: relative;
    width: 100%;
    height: 100vh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

/* DARK OVERLAY */
.technology-tools::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top,
        rgba(6, 78, 59, 0.85),
        rgba(6, 78, 59, 0.2),
        rgba(6, 78, 59, 0)
    );
    z-index: 1;
}

/* CENTER TITLE */
.tech-title {
    position: relative;
    z-index: 2;

    font-family: 'Arima', cursive;
    font-size: 2.1rem;
    font-weight: 700;
    color: #96FBDA;
    margin-bottom: 1%;

    text-align: center;
}

/* BOTTOM CONTENT */
.tech-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 28px 5%;

    z-index: 2;
}

/* TEXT ITEMS */
.tech-item {
    font-family: 'Arima', cursive;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center;

    max-width: 180px;
}


.tech-details-section {
    background: url("/images/paper-texture.png");
    background-size: cover;
    padding: 100px 0;
}

.tech-details-container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.tech-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
}

.tech-row.reverse {
    direction: rtl;
}

.tech-row.reverse > * {
    direction: ltr;
}

.tech-text h3 {
    font-family: "Arima", cursive;
    font-size: 28px;
    color: #0a3f2e;
    margin-bottom: 16px;
}

.tech-text p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: #2f2f2f;
    max-width: 520px;
}

.tech-image.boxed {
    border: 2px solid #2f2f2f;
    border-radius: 28px;
    padding: 14px;
    background: rgba(255, 255, 255, 0.4);
}

.tech-image img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    display: block;
}

/* Responsive */
@media (max-width: 992px) {
    .tech-row {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .tech-text p {
        max-width: 100%;
    }
}
